body {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}


table {
  margin: 100px auto auto auto;
  background-color: white;
}

td {
  width: 180px;
  height: 180px;
  border: 12px solid black;
}

.cell43,
.cell51,
.cell52,
.cell53,
.cell54,
.cell55,
.cell56,
.cell60 {
  border-bottom: none;
}

.cell57,
.cell1,
.cell8,
.cell15,
.cell22,
.cell29,
.cell36,
.cell43,
.cell50 {
  border-left: none;
}

.cell1,
.cell3,
.cell6 {
  border-top: none;
}

.cell6,
.cell13,
.cell28,
.cell35,
.cell41,
.cell48,
.cell53,
.cell60 {
  border-right: none;
}

.cell6,
.cell13,
.cell43 {
  background-color: #fff071;
}

.cell37,
.cell38,
.cell44,
.cell45,
.cell53 {
  background-color: #414141;
}

.cell9 {
  background-color: #ff5f41;
}

.cell48 {
  background-color: #04427f;
}

.cell8,
.cell9,
.cell13,
.cell22,
.cell27,
.cell28 {
  height: 360px;
}

.cell53,
.cell46,
.cell39,
.cell60 {
  width: 360px;
}
